@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&display=swap');

html, body {
  font-family: 'Poppins', Helvetica, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
  margin: 0;
  padding: 0;
  line-height: 1.8em;
}

h1,h2,h3,p,ol,ul,button{
  padding: 0;
  margin: 0;
}

canvas {
  display: block;
}

/* img{
  position: fixed;
  width: 50px;
  left: 50%;
  top:50%;
  transform: translate(-50%, -50%);
  display: none;
}  */

p{
  line-height: 70px;
  height: 70px;
  display: none;
  position: fixed;
  text-align: center;
  left: 50%;
  transform: translate(-50%, 0);
  width: max-content;
}

.selection{
  left: unset; 
}